/*==============================================================================
Custom CSS Style Sheet for WHI Sexual Function Files
Author: Brad Cannell
Created: 2018-01-24
==============================================================================*/

hr {
  background-color: #66b3ff;
  height: 1px;
}